<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="http://localhost/sikja/public/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="http://localhost/sikja/public/css/index.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="http://localhost/sikja/public/img/1.png" alt="">
                    <h2>SIKJA DOSEN</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-outlined">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="" class="active">
                    <span class="material-icons-outlined">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/sikja/app/views/page/angka-kredit.html">
                    <span class="material-icons-outlined">assignment</span>
                    <h3>Angka Kredit</h3>
                </a>
                <a href="/sikja/app/views/page/pesan.html">
                    <span class="material-icons-outlined">email</span>
                    <h3>Pesan</h3>
                    <span class="message-count">1</span>
                </a>
                <a href="/sikja/app/views/page/profil.html">
                    <span class="material-icons-outlined">person</span>
                    <h3>Profil</h3>
                </a>
                <a href="/sikja/app/views/page/dokumen.html">
                    <span class="material-icons-outlined">article</span>
                    <h3>Dokumen</h3>
                </a>
                <a href="">
                    <span class="material-icons-outlined">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- END OF ASIDE -->
        <main>
            <h1>Dashboard</h1>

            <h2>Perolehan Angka Kredit</h2>

            <div class="insights">
                <div class="sales">
                    <span class="material-icons-outlined">school</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Pendidikan</h3>
                            <h1>19</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='40' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>69%</p>
                            </div>
                        </div>
                    </div>
                    <!-- <small class="text-muted">Last 24 Hours</small> -->
                </div>
                <!-- END OF SALES -->
                <div class="expenses">
                    <span class="material-icons-outlined">support</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Penunjang</h3>
                            <h1>5</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='40' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>100%</p>
                            </div>
                        </div>
                    </div>
                    <!-- <small class="text-muted">Last 24 Hours</small> -->
                </div>
                <!-- END OF EXPENSES -->
                <div class="income">
                    <span class="material-icons-outlined">remove</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Kekurangan</h3>
                            <h1>8</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='40' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>24%</p>
                            </div>
                        </div>
                    </div>
                    <!-- <small class="text-muted">Last 24 Hours</small> -->
                </div>
                <!-- END OF INCOME -->
            </div>
            <!-- END OF INSIGHTS -->

            <div class="recent-orders">
                <h2>Angka Kredit Per Periode</h2>
                <canvas id="chart"></canvas>
            </div>
        </main>
        <!-- END OF MAIN -->

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-outlined">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-outlined active">light_mode</span>
                    <span class="material-icons-outlined">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p><b>Daniel Sunandar</b></p>
                        <small class="text-muted">Asisten Ahli</small>
                    </div>
                    <div class="profile-photo">
                        <img src="http://localhost/sikja/public/img/photo.png" alt="">
                    </div>
                </div>
            </div>
            <!-- END OF TOP -->
            <div class="recent-updates">
                <h2>Pesan Terbaru</h2>
                <div class="updates">
                    <div class="icon">
                        <span class="material-icons-outlined">support</span>
                    </div>
                    <div class="message">
                        <p><b>Kum Penunjang</b> anda sudah memenuhi syarat untuk naik jabatan.</p>
                        <small class="text-muted">Minggu Lalu</small>
                    </div>
                </div>
            </div>
            <!-- END OF RECENT UPDATES -->
            <div class="sales-analytics">
                <h2>Lebihan Angka Kredit</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-icons-outlined">school</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Pendidikan</h3>
                        </div>
                        <h3>0</h3>
                    </div>
                </div>
                <div class="item customers">
                    <div class="icon">
                        <span class="material-icons-outlined">support</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Penunjang</h3>
                        </div>
                        <h3>2</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="http://localhost/sikja/public/js/orders.js"></script>
<script src="http://localhost/sikja/public/js/dashboard.js"></script>
</body>
</html>