<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

    <title>Profil</title>
    <!-- <link rel="stylesheet" href="http://localhost/sikja/public/bootstrap/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="http://localhost/sikja/public/css/index.css"> -->
    <link rel="stylesheet" href="http://localhost/sikja/public/css/profil.css">
</head>
<body>
    <div class="container-two">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="http://localhost/sikja/public/img/1.png" alt="">
                    <h2>SIKJA DOSEN</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-outlined">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/sikja/app/views/page/dashboard.html">
                    <span class="material-icons-outlined">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/sikja/app/views/page/angka-kredit.html">
                    <span class="material-icons-outlined">assignment</span>
                    <h3>Angka Kredit</h3>
                </a>
                <a href="/sikja/app/views/page/pesan.html">
                    <span class="material-icons-outlined">email</span>
                    <h3>Pesan</h3>
                    <span class="message-count">1</span>
                </a>
                <a href="" class="active">
                    <span class="material-icons-outlined">person</span>
                    <h3>Profil</h3>
                </a>
                <a href="/sikja/app/views/page/dokumen.html">
                    <span class="material-icons-outlined">article</span>
                    <h3>Dokumen</h3>
                </a>
                <a href="">
                    <span class="material-icons-outlined">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

        
        <!-- END OF ASIDE -->
        <main>
            <div class="grid-top">
                <h1>Profil</h1>
                <div class="right-top">
                    <div class="top">
                        <button id="menu-btn">
                            <span class="material-icons-outlined">menu</span>
                        </button>
                        <div class="theme-toggler">
                            <span class="material-icons-outlined active">light_mode</span>
                            <span class="material-icons-outlined">dark_mode</span>
                        </div>
                        <div class="profile">
                            <div class="info">
                                <p><b>Daniel Sunandar </b></p>
                                <small class="text-muted">Asisten Ahli</small>
                            </div>
                            <div class="profile-photo">
                                <img src="http://localhost/sikja/public/img/photo.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- END OF TOP -->
                </div>
            </div>

            <div class="main-box">
                <div class="middle">
                    <div class="left">
                        <div class="profile-photo">
                            <img src="http://localhost/sikja/public/img/photo.png" alt="">
                        </div>
                        <h2>Daniel Sunandar</h2>
                        <div class="number">
                            <p>Nama</p>
                        </div>
                        <h2>197208235001221003</h2>
                        <div class="number">
                            <p>NIP</p>
                        </div>
                        <h2 class="lectureship">Asisten Ahli</h2>
                        <div class="number">
                            <p>Jabatan</p>
                        </div>
                        <h2>176</h2>
                        <div class="number">
                            <p>Angka Kredit Saat Ini</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- END OF MAIN -->

        
    </div>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="http://localhost/sikja/public/js/pesan.js"></script>
<script src="http://localhost/sikja/public/js/angka-kredit.js"></script>
</body>
</html>